<h1>You've been invited to a poker league!</h1>

<p>
  Hey friend. Someone has invited you to a poker league.
  Click <%= link_to "this link", @invite_url %> to get signed up!
  This link expires in 5 minutes, so act fast!
</p>
