<h1>Dashboard</h1>

Welcome <%= current_user.email %>!

<h2>Admin Leagues</h2>
<ul>
  <%= render partial: "league", collection: current_user.leagues.admin %>
</ul>

<h2>Member Leagues</h2>
<ul>
  <%= render partial: "league", collection: current_user.leagues.member %>
</ul>
