<h1>Dashboard</h1>

<%= link_to "Create new league", new_league_path %>

Welcome <%= current_user.email %>!

<h2>Admin Leagues</h2>
<ul>
  <%= render partial: "league", collection: current_user.leagues.admin %>
</ul>

<h2>Member Leagues</h2>
<ul>
  <%= render partial: "league", collection: current_user.leagues.member %>
</ul>
